/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Playfair+Display&display=swap");

:root {
  --light-1: #fff;
  --light-2: #f3f3f3;
  --main-1: #f59896;
  --main-2: #f16c69;
  --dark-1: #646b7e;
  --dark-2: #3a3e47;
  --font-1: "Playfair";
  --font-2: "PT Sans";
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--light-1);
}
